<h2 class="center">Galleries Table</h2>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% galleries.forEach(gallery => { %>
    <tr>
      <td>
        <a href="<%= `/galleries/${gallery._id}` %>">
          <%= gallery.title %>
        </a>
      </td>
      <td>
        <%= gallery.description %>
      </td>
      <td>
        <a href="<%=`galleries/${gallery._id}/edit`%>">
          Edit
        </a>
      </td>
      <td>
        <a href="<%= `galleries/${gallery._id}/delete?_method=DELETE` %>" onclick="return confirm('Are you sure you want to delete this record?')" a>Delete</a>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>