<h2 class="center">Artists Table</h2>
<div class="center">
  <a class="button" href="/artists/new">Create User</a>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <% if (loggedIn) { %>
      <th>Edit</th>
      <th>Delete</th>
		  <% } %>
    </tr>
  </thead>
  <tbody>
    <% artists.forEach(artist => { %>
    <tr>
      <td>
        <a href="<%=`/artists/${artist._id}`%>">
          <%= artist.fullName %>
        </a>
      </td>
      <td>
        <%= artist.email %>
      </td>
      <% if (loggedIn) { %>
      <td>
        <a href="<%=`/artists/${artist._id}/edit`%>">
          Edit
        </a>
      </td>
      <td>
        <a href="<%=`/artists/${artist._id}/delete?_method=DELETE` %>" onclick="return confirm('Are you sure you want to delete this record?')" a>Delete</a>
      </td>
		  <% } %>
    </tr>
    <% }); %>
  </tbody>
</table>