<h1 class="center">Artist Data for
  <%= artist.fullName %>
</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <td>
      <%= artist.fullName %>
    </td>
  </tr>
  <tr>
    <th>Email</th>
    <td>
      <%= artist.email%>
    </td>
  </tr>
  <tr>
    <th>Password</th>
    <td>********</td>
  </tr>
</table>

<% if (loggedIn) { %>
<div class="center">
  <a class="button" href="<%=`/artists/${artist._id}/edit`%>">
    Edit Artist Details
  </a>
</div>
<div class="center">
  <a class="button" href="<%= `/artists/${artist._id}/delete?_method=DELETE` %>" onclick="return confirm('Are you sure you want to delete this record?')" a>Delete</a>
</div>
<% } %>
<div class="center">
  <a class="button" href="/artists">View all artists</a>
</div>